<div class="reservations">
  <h4 class="reservation">予約済み一覧</h4>
  <table>
    <thead>
      <tr>
        <th>人数</th>
        <th>部屋料金</th>
        <th>開始日</th>
        <th>終了日</th>
      </tr>
    </thead>
    
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
      <td><%= reservation.person %></td>
      <td><%= reservation.room_registration.room_price %></td>
      <td><%= reservation.start_date %></td>
      <td><%= reservation.end_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>